* {
    margin: 0;
    padding: 0;
}
.homea{
    color: black;
}
.homea:hover{
    color: cadetblue;
}
.home {
    background-color: #DFDFDF;
    height: 17px;
    width: 1519px;
    text-align: center;
    font-size: 14px;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 0;
}

.rb {
    width: 1519px;
    background-color: #DFDFDF;
    text-align: center;
}

.rbb {
    width: 1519px;
    background-color: #DFDFDF;
    text-align: center;
    margin-bottom: 300px;
}

.rb .racket {
    width: 1200px;
    margin-top: 0px;

}

.nnn {

    position: sticky;
    top: 0px;
    width: 100%;
    height: 46px;
    background-color: rgb(238, 238, 238);
    margin-top: -2px;
    padding-top: 0;
}

.han {

    font-family: 'Indie Flower', cursive;
    font-size: 12px;
    margin-left: 120px;
}

.tag {
    height: 26px;
    width: 400px;
    margin-left: 1100px;
    font-family: 'Indie Flower', cursive;
    display: flex;
    text-align: right;
    font-size: 22px;
    flex-direction: row-reverse;
    justify-content: space-evenly;

}

.t {
    color: black;
}

.t:hover {
    color: teal;
}

.hd {
    display: flex;
    margin-top: 2px;
}


.dot3 {
    margin-left: 1176px;
    width: 10px;
    height: 5px;
    margin-top: 2;
}

.footer {
    width: 100%;
    height: 70px;
    background-color: #DFDFDF;
    display: flex;
    margin-top: 38px;
}

.pp {
    font-family: 'Architects Daughter', cursive;
    font-size: 12px;
    margin: auto;
}